<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysl.auth.user.mapper.UserLoginInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ysl.auth.user.entity.UserLoginInfo">
        <id column="id" property="id" />
        <result column="user_code" property="userCode" />
        <result column="email" property="email" />
        <result column="phone_number" property="phoneNumber" />
        <result column="password_hash" property="passwordHash" />
        <result column="active_status" property="activeStatus" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="delete_status" property="deleteStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_code, email, phone_number, password_hash, active_status, created_at, updated_at, delete_status
    </sql>

</mapper>
